# Python

*.py[cod]


# C++

*.out


# Java

*.class


# Eclipse

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Launch configurations
*.launch

# Plugin-specific
.project
.pydevproject
.buildpath
.cproject


# Temporary files
temp.*
*.tmp.*
*.*~

# Information files
user.txt
lang.txt

# Code Testing files
test.*

# Debugging & Logging files
debug.*
*.log
